<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4">
    <h2 class="text-center mb-4">Cadastro</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Nome e Sobrenome -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="primeiroNome" class="form-label">Nome</label>
          <input
            type="text"
            id="primeiroNome"
            formControlName="primeiroNome"
            class="form-control"
            [class.is-invalid]="
              registerForm.get('primeiroNome')?.invalid &&
              registerForm.get('primeiroNome')?.touched
            "
          />
          <!-- Mensagens de erro -->
        </div>
        <div class="col-md-6 mb-3">
          <label for="ultimoNome" class="form-label">Sobrenome</label>
          <input
            type="text"
            id="ultimoNome"
            formControlName="ultimoNome"
            class="form-control"
            [class.is-invalid]="
              registerForm.get('ultimoNome')?.invalid &&
              registerForm.get('ultimoNome')?.touched
            "
          />
          <!-- Mensagens de erro -->
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          [class.is-invalid]="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        />
        <!-- Mensagens de erro -->
      </div>

      <!-- CPF e Data de Nascimento -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="cpf" class="form-label">CPF</label>
          <input
            type="text"
            id="cpf"
            formControlName="cpf"
            class="form-control"
            placeholder="000.000.000-00"
            [class.is-invalid]="
              registerForm.get('cpf')?.invalid &&
              registerForm.get('cpf')?.touched
            "
          />
          <!-- Mensagens de erro -->
        </div>
        <div class="col-md-6 mb-3">
          <label for="dataNascimento" class="form-label"
            >Data de Nascimento</label
          >
          <input
            type="date"
            id="dataNascimento"
            formControlName="dataNascimento"
            class="form-control"
            [class.is-invalid]="
              registerForm.get('dataNascimento')?.invalid &&
              registerForm.get('dataNascimento')?.touched
            "
          />
          <!-- Mensagens de erro -->
        </div>
      </div>

      <!-- Perfil e Fazenda -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="perfil" class="form-label">Eu sou</label>
          <select id="perfil" formControlName="perfil" class="form-select">
            <option *ngFor="let perfil of perfis" [value]="perfil">
              {{ getPerfilNome(perfil) }}
            </option>
          </select>
        </div>
        <div class="col-md-6 mb-3" *ngIf="eCooperado">
          <label for="fazenda" class="form-label">Minha Fazenda</label>
          <select
            id="fazenda"
            formControlName="fazenda"
            class="form-select"
            [class.is-invalid]="
              registerForm.get('fazenda')?.invalid &&
              registerForm.get('fazenda')?.touched
            "
          >
            <option [ngValue]="null" disabled>Selecione uma fazenda</option>
            <option *ngFor="let fazenda of fazendas" [ngValue]="fazenda">
              {{ fazenda.nome }}
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="registerForm.get('fazenda')?.errors?.['required']"
          >
            Por favor, selecione sua fazenda.
          </div>
        </div>
      </div>

      <!-- Senha e Confirmação -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="password" class="form-label">Senha</label>
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="password"
            formControlName="password"
            class="form-control"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirmar Senha</label
          >
          <input
            [type]="confirmPasswordVisible ? 'text' : 'password'"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
          />
        </div>
      </div>

      <!-- Mensagem de erro -->
      <div class="alert alert-danger mb-3" *ngIf="registerError">
        {{
          errorMessage ||
            "Ocorreu um erro durante o registro. Por favor, tente novamente."
        }}
      </div>

      <!-- Botão de cadastro e Link para Login -->
      <button
        type="submit"
        class="btn btn-primary w-100 mb-3"
        [disabled]="isLoading"
      >
        <span
          *ngIf="isLoading"
          class="spinner-border spinner-border-sm me-2"
        ></span>
        Cadastrar
      </button>
      <div class="text-center">
        <p>
          Já tem uma conta?
          <a (click)="goToLogin()" style="cursor: pointer" class="text-primary"
            >Faça login</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
