<div class="app-container">
  <app-header class="app-header"></app-header>
  <app-sidebar
    class="app-sidebar"
    (navegarEvent)="onNavegar($event)"
  ></app-sidebar>
  <main class="app-content">
    <div [ngSwitch]="moduloAtual">
      <app-home *ngSwitchCase="'home'"></app-home>
      <app-insumos *ngSwitchCase="'insumos'"></app-insumos>
      <app-meus-insumos *ngSwitchCase="'meus-insumos'"></app-meus-insumos>
      <app-minha-plantacao
        *ngSwitchCase="'minha-plantacao'"
      ></app-minha-plantacao>
      <app-locais-em-uso *ngSwitchCase="'locais-em-uso'"></app-locais-em-uso>
      <app-fazendas-list *ngSwitchCase="'fazendas'"></app-fazendas-list>
      <app-armazenamento-list
        *ngSwitchCase="'armazenamento'"
      ></app-armazenamento-list>
    </div>
  </main>
</div>
