<div class="sidebar-container bg-dark text-white d-flex flex-column">
  <div class="sidebar-header p-3 text-center">
    <i class="fas fa-tractor fa-2x"></i>
    <h4 class="mt-2">Cooperativa de Fazendas FIAP Farms</h4>
  </div>
  <ul class="nav nav-pills flex-column mb-auto p-2">
    <li class="nav-item" *ngFor="let item of menuItems">
      <a
        [routerLink]="item.path"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="fas {{ item.icon }} me-2"></i>
        {{ item.title }}
      </a>
    </li>
  </ul>
</div>
